
@{
    ViewBag.Title = "DiaDiemDep";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="diadiemdep col-xs-12 col-sm-12 col-md-12 col-lg-12">

    <!--Tiêu đề-->
    <p class="tieude col-xs-12 col-sm-12 col-md-12 col-lg-12">
        Địa điểm đẹp
    </p>

    <!--Các bài viết-->
    <article class="col-xs-12 col-sm-12 col-md-12 col-lg-12">

        <!--Phần chính-->
        <div class="cacbaiviet col-xs-12 col-sm-12 col-md-12 col-lg-12">

            <!--Bài viết-->
            <div class="baiviet">
                <!--Ảnh địa điểm-->
                <img src="~/Content/Front/images/trangchu/avt-tour-5.png" alt="" class="img-responsive" />

                <!--Thông tin-->
                <div class="thongtin">
                    <p class="tieude col-xs-12 col-sm-12 col-md-12 col-lg-12">Cát bà</p>
                    <p class="tomtat col-xs-12 col-sm-12 col-md-12 col-lg-12">
                        Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                        Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
                    </p>

                    <!--Nút xem thêm-->
                    <a href="#" class="xemthem">Xem thêm <i class="fa fa-angle-double-right"></i></a>
                </div>
            </div>

            <!--Bài viết-->
            <div class="baiviet">
                <!--Ảnh địa điểm-->
                <img src="~/Content/Front/images/trangchu/avt-tour-5.png" alt="" class="img-responsive" />

                <!--Thông tin-->
                <div class="thongtin">
                    <p class="tieude col-xs-12 col-sm-12 col-md-12 col-lg-12">Cát bà</p>
                    <p class="tomtat col-xs-12 col-sm-12 col-md-12 col-lg-12">
                        Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                        Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
                    </p>

                    <!--Nút xem thêm-->
                    <a href="#" class="xemthem">Xem thêm <i class="fa fa-angle-double-right"></i></a>
                </div>
            </div>

            <!--Bài viết-->
            <div class="baiviet">
                <!--Ảnh địa điểm-->
                <img src="~/Content/Front/images/trangchu/avt-tour-5.png" alt="" class="img-responsive" />

                <!--Thông tin-->
                <div class="thongtin">
                    <p class="tieude col-xs-12 col-sm-12 col-md-12 col-lg-12">Cát bà</p>
                    <p class="tomtat col-xs-12 col-sm-12 col-md-12 col-lg-12">
                        Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                        Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
                    </p>

                    <!--Nút xem thêm-->
                    <a href="#" class="xemthem">Xem thêm <i class="fa fa-angle-double-right"></i></a>
                </div>
            </div>

            <!--Bài viết-->
            <div class="baiviet">
                <!--Ảnh địa điểm-->
                <img src="~/Content/Front/images/trangchu/avt-tour-5.png" alt="" class="img-responsive" />

                <!--Thông tin-->
                <div class="thongtin">
                    <p class="tieude col-xs-12 col-sm-12 col-md-12 col-lg-12">Cát bà</p>
                    <p class="tomtat col-xs-12 col-sm-12 col-md-12 col-lg-12">
                        Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                        Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
                    </p>

                    <!--Nút xem thêm-->
                    <a href="#" class="xemthem">Xem thêm <i class="fa fa-angle-double-right"></i></a>
                </div>
            </div>
        </div>

        <!--Số trang-->
        <nav aria-label="Page navigation" class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <ul class="pagination">
                <li class="disabled">
                    <a href="#" aria-label="Previous">
                        <span aria-hidden="true">&laquo;</span>
                    </a>
                </li>
                <li class="active"><a href="#">1</a></li>
                <li><a href="#">2</a></li>
                <li><a href="#">3</a></li>
                <li><a href="#">4</a></li>
                <li><a href="#">5</a></li>
                <li>
                    <a href="#" aria-label="Next">
                        <span aria-hidden="true">&raquo;</span>
                    </a>
                </li>
            </ul>
        </nav>
    </article>
</section>