@model CMS.Models.Category
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="diadiemdep col-xs-12 col-sm-12 col-md-12 col-lg-12" ng-controller="categoryPostController">
    <input type="hidden" value="@Model.idCategory" id="idCategory" />
    <!--Tiêu đề-->
    <p class="tieude col-xs-12 col-sm-12 col-md-12 col-lg-12">
        @Model.title
    </p>
    
    <!--Các bài viết-->
    <article class="col-xs-12 col-sm-12 col-md-12 col-lg-12">

        <!--Phần chính-->
        <div class="cacbaiviet col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <p ng-hide="posts.length > 0" style="font-size: 3em;color: #f44336; text-align:center">Chưa có bài viết nào</p>
            <!--Bài viết-->
            <div class="baiviet" dir-paginate="(index, value) in posts | itemsPerPage: 4" ng-show="posts.length > 0">
                <!--Ảnh địa điểm-->
                <img ng-src="{{value.image}}" alt="{{value.title}}" class="img-responsive" />

                <!--Thông tin-->
                <div class="thongtin">
                    <p class="tieude col-xs-12 col-sm-12 col-md-12 col-lg-12">{{value.title}}</p>
                    <p class="tomtat col-xs-12 col-sm-12 col-md-12 col-lg-12">
                        {{value.description | limitTo: 100}}{{value.description.length > 100 ? '&hellip;' : ''}}
                    </p>

                    <!--Nút xem thêm-->
                    <a href="/bai-viet/{{value.alias}}-{{value.idPost}}" class="xemthem">Xem thêm <i class="fa fa-angle-double-right"></i></a>
                </div>
            </div>
        </div>

        <!--Số trang-->
        <nav aria-label="Page navigation" class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <dir-pagination-controls></dir-pagination-controls>
        </nav>
    </article>
</section>